
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><table>
<p align="center"><a href="viewuser">View user</a></p>
<p align="center"><a href="manage_guide">Manage guide</a></p>
<p align="center"><a href=" block_or_unblock">Block/Unblock guide</a></p>
<p align="center"><a href="view_complaint">View complaint&send reply</a></p>
<p align="center"><a href="Verify_company">Verify company</a></p>
<p align="center"><a href="view_review">View review</a></p>
    <p align="center"><a href="log_out">log out</a></p>
</table>
</body>
</html>
