{% extends 'admin/index.html' %}
{% block body %}
<form name="form1" method="post" action="company_search">
  <div align="center">
    <table width="512" height="182" border="1" class="table table-dark">
        <tr>
        <td colspan="7">Company Name
          <label>
          <input type="text" name="textfield" required />
          <input type="submit" value="search " class="btn btn-success" required/>
        </label></td>
      </tr>
      <tr>
        <td width="101">Company name  </td>
        <td width="51">Place</td>
        <td width="46">Phone</td>
        <td width="53">Email</td>
        <td width="85">Website</td>
        <td width="136">&nbsp;</td>
      </tr>
         {% for i in val %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.place}}</td>
        <td>&nbsp;{{i.phone}}</td>
        <td>{{i.Email}}</td>
        <td>{{i.Wedsite}}</td>
          <td>
              {% if i.LOGIN.type == 'pending' %}
      <p><a href="accept/{{i.LOGIN.id }}" class="btn btn-success">Accept</a></p>
      <p><a href="reject/{{i.LOGIN.id }}"class="btn btn-danger">reject</a></p>
         {% elif i.LOGIN.type == 'company' %}
             Accepted
      {% else %}
            Rejected
      {% endif %}
      </td>
      </tr>
         {% endfor %}
      </table>
  </div>
</form>
{#</body>#}
{#</html>#}
{% endblock %}
