<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="viewusersearch">
  <div align="center">
    <table width="310" border="1">
      <tr>
        <td colspan="7">Name
          <label>
            <input type="text" name="textfield" />
            <input type="submit" name="Submit" value="Search" />
          </label></td>
      </tr>
      <tr>
        <td>name</td>
        <td >Place</td>
        <td >Post</td>
        <td >Pin</td>
        <td>gender</td>
        <td >Email</td>
        <td >Phone</td>
      </tr>
        {% for i in val %}
      <tr>
        <td>{{ i.First_name }} {{ i.Last_name }}</td>
        <td>&nbsp;{{  i.place}}</td>
        <td>&nbsp;{{ i.post }}</td>
        <td>&nbsp;{{ i.pin }}</td>
        <td>&nbsp;{{ i.gender }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.phone }}</td>
      </tr>
      {% endfor %}
      </table>
  </div>
</form>
</body>
</html>
