{% extends 'company/companyindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="company_home">
  <div align="center">
    <table width="200" border="1">
      <tr>
        <td><div align="center"><a href="Mange_job_veccancy">Mange job vaccancy</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="verify_application">View applicaton and verify</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="chat_with_candidate">chat with candidate</a></div></td>
      </tr>
        <tr>
            <td>
            <div align="center"><a href="log_out">log out</a></div></td>
        </tr>
      </table>
  </div>
</form>
{% endblock %}
