
{% extends 'guide/guidindex.html' %}
{% block body %}
<form name="form1" method="post" action="addguidlines">
  <table width="604" border="1"class="table table-dark">
{#    <tr>#}
{#      <td width="294">Company </td>#}
{#      <td width="294"><label>#}
{#         <input type="text" name="textfield">#}
{#      </label></td>#}
{#    </tr>#}
    <tr>
      <td>Guidlines</td>
      <td><label>
        <input type="text" name="textfield2">
      </label></td>
    </tr>
    <tr>
      <td>Details</td>
      <td><label>
        <input type="text" name="textfield3">
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="ADD"class="btn btn-success" >
      </div>        </label></td>
    </tr>
  </table>
</form>
</center>
<body>
{% endblock %}