{% extends 'guide/guidindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/edit_test_post">
<table width="355" border="1"class="table table-dark">
  <tr>
    <td width="95">Exam name </td>
    <td width="244">

      <label>
        <input type="text" name="textfield" value="{{ val.Exam_name }}"required/>
        </label>
    </td>
  </tr>
  <tr>
    <td>Date </td>
    <td>
      <label>
        <input type="text" name="textfield2" value="{{ val.date }}"required/>
        </label>
      </td>
  </tr>

  <tr align="center">
    <td colspan="2">
      <label>
      <div align="center">
        <input type="submit" name="Submit" value="update" class="btn btn-success" required/>
      </div>
      </label>
      </td>
  </tr>
</table>
</form>
{% endblock %}