<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><center>
<form id="form1" name="form1" method="post" action="">
  <table width="527" height="131" border="1">
    <tr>
      <td width="517"><p align="center"><a href="manage_test_type">Manage test type</a></p>
        <p align="center"><a href="manage_question">Question manage</a></p>
        <p align="center"><a href="view_Review">View Review</a></p>
        <p align="center"><a href="view_tips">Add tips</a></p>
        <p align="center"><a href="view_doubt">View doubt & Send Reply</a></p>
        <p align="center"><a href="view_guid_line">View guidlines</a></p>
          <p align="center"><a href="log_out">log out</a></p>
    </tr>
  </table>
</form>
</body>
</html>
