{% extends 'guide/guidindex.html' %}
{% block body %}
<center>
<form id="form1" name="form1" method="post" action="/Testsearch">
  <table width="401" border="1"class="table table-dark">
    <tr>
      <td colspan="6">Test Type
        <label>
        <select name="select">
            {% for i in tst %}
                <option value="{{ i.id }}" {% if i.id == n %} selected{% endif %}>{{i.Exam_name}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="Submit" value="search " class="btn btn-success" required/>
      </label></td>
      <td width="21">&nbsp;</td>
    </tr>
    <tr>
      <td width="71" height="25">Question</td>
      <td width="66">Option1</td>
      <td width="66">Option2</td>
      <td width="66">Option3</td>
      <td width="31">Option4</td>
      <td width="34">Answer</td>
      <td>&nbsp;</td>
    </tr>
 {% for i in val %}
      <tr>
      <td>{{ i.Question }}</td>
      <td>{{ i.option1 }}</td>
      <td>{{ i.option2 }}</td>
      <td>{{ i.option3 }}</td>
      <td>{{ i.option4 }}</td>
      <td>{{ i.Answer }}</td>
      <td><p><a href="edit_Question/{{ i.id }}" class="btn btn-success">edit</a></p>
      <p><a href="delete_Question/{{ i.id }}"class="btn btn-danger">Delete</a></p></td>
    </tr>
            {% endfor %}

    <tr align="center">
      <td colspan="7"><div align="center"><a href="#">
        <a href="add_question"class="btn btn-success" >ADD</a>
        <label></label>
      </a></div></td>
    </tr>
  </table>
</form>
{% endblock %}