<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><center>
<form id="form1" name="form1" method="post" action="">
  <table width="401" border="1">
    <tr>
      <td colspan="6">Test Type 
        <label>
        <select name="select">
        </select>
        <input type="submit" name="Submit" value="search " />
      </label></td>
      <td width="21">&nbsp;</td>
    </tr>
    <tr>
      <td width="71" height="25">Question</td>
      <td width="66">Option1</td>
      <td width="66">Option2</td>
      <td width="66">Option3</td>
      <td width="31">Option4</td>
      <td width="34">Answer</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><p><a href="#">Submit</a></p>
      <p><a href="#">Delete</a></p></td>
    </tr>
    <tr>
      <td colspan="7"><div align="center"><a href="#">
        <input type="submit" name="Submit2" value="ADD" />
        <label></label>
      </a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
